<table>
	<tr><th>pk_arma</th><th>nome</th><th>danni</th><th>tp_stat</th></tr>
	{{#each this}}
		<tr><td>{{pk_arma}}</td><td>{{nome}}</td><td>{{danni}}</td><td>{{tp_stat}}</td></tr>
    {{/each}}
</table>